<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>{{ page.title }}</title>
  </head>
  
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    
    <div class="container">
      {{ content }}
    </div>
    
        <footer>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">my bbm innit</a></li>
            <li><a href="https://www.instagram.com/explore/tags/plug/?hl=en">plug</a></li>
          </ul>
        </footer>
    </body>
</html>
